.todolist-page-container {
    width: 100%;
    height: 100%;
}

/* todolist-page-container 클래스중 header를 가지고있는 자식요소 */
.todolist-page-container > header {
    margin-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.todolist-header-items {
    margin-bottom: 5px;
}

.todolist-main-container {
    padding-right: 5px;
    height: 550px;
    /* 높이 초과했을 시 스크롤 */
    overflow-y: scroll;
}

.todolist-main-container::-webkit-scrollbar {
    width: 3px;
}

.todolist-main-container::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 3px;
}



.todolist-items {
    display: flex;
    /* 첫번째는 왼쪽끝 두번째는 오른쪽 끝에 정렬 */
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border: 1px solid #dbdbdb;
    border-width: 1px 0px;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.complet-chkboxs {
    display: none;
}

/*  complet-chkboxs 클래스를 가진 첫번째 label 요소를 선택 */
.complet-chkboxs + label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* 위 선택된 label 요소를 선택한 후의 이벤트라 생각하면 쉬움 */
.complet-chkboxs:checked + label::after {
    content: " ";
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-color: #ffbb00;
}

.item-center {
    flex-grow: 1;
    padding: 0px 10px;
}

.item-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todolist-date {
    margin-bottom: 5px;
    font-size: 12px;
}

.todolist-item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-edit {
    margin: 0px 2px;
    font-size: 11px;
    color: #ffbb00;
}

.btn-edit:active {
    background-color: #ffbb00;
    color: white;
}

.btn-remove {
    margin: 0px 2px;
    font-size: 11px;
    color: #ff4400
}

.btn-remove:active {
    background-color: #ff4400;
    color: white;
}